*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./img/background.jpg");
}
.container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: orange;
    display: flex;
    padding: 5px 0;
    align-items: center;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navigation{
    width: 100%;
}
.logo img{
    width: 35px;
    margin-left: 45px;
}
.nav-item{
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.nav-list a{
    font-size: 20px;
}
.about-honey{
    display: flex;
    background-color: #FFD000;
    align-items: center;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;

}
.honey-content{
    flex-basis: 65%;
    padding-left: 15px;

}
.honey-info{
    margin-bottom: 30px
}
.honey-info h1{
    font-size: 35px;
    color: #8F3E00;
    font-family: 'Montserrat', sans-serif;
}
.honey-text p{
    font-size: 25px;
    color: #A85311;
    font-family: 'Montserrat', sans-serif;
}
.honey-spoon{
    flex-basis: 35%;
}
.honey-spoon img{
    width: 300px;
}
.slider-wrapper{
    margin: auto;
    width: 900px;
    padding: 35px 35px 15px 35px;
    
}
.bee-garden{
    background-color: #FFDD00;
}
.bee-garden-item img{
    width: 900px;
    height: 450px;
}
.honey-features{
    background-color: white;
    padding: 15px;
}
.features{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}
.honey-features h3{
    text-align:center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #ff8800;
}
.pad35{
    padding: 0 35px;
}
.features-item p{
    font-family: 'Montserrat', sans-serif;
    color: #003566;
    text-align: center;
    padding-top: 15px;
    
}
.features-item img{
    width: 150px;
}
.features-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33% 0 0;
}
.honey-price{
    background-color: #FFDD00;
    padding-left: 25px;
    padding-bottom: 25px;
}

.honey-price h3{
    font-size: 35px;
    color: #cc3333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.honey-price p{
    font-style: italic;
    font-size: 25px;
    color: #da3030;
    font-family: 'Montserrat', sans-serif;
}

.price-list{
    padding-left: 35px;
    padding-bottom: 20px;
}

.price-list ul li{
    color: #af0000;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.footer{
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-menu p{
    color: white;
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}
.footer-list{
    list-style: none;
}
.footer-list li{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}
.footer-list a{
    text-decoration: none;
    color: white;
}

.footer-contact p{
    color: white;
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.contact-list{
    list-style: none;
}

.contact-list li{
    font-size: 20px;
    color: white;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
}
.contact-list a{
    color: white;
}

.phone{
    text-decoration: underline;
    font-weight: 300;
    font-style: italic;
}