* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bona Nova', serif;
    background-color: whitesmoke;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 30px #00000014;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: orange;
    padding: 5px 0;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item {
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav-list a {
    font-size: 20px;
}

.about-honey {
    display: flex;
    background-color: white;
    align-items: center;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

.honey-content {
    flex-basis: 65%;
    padding-left: 45px;
}

.honey-info {
    margin-bottom: 30px
}

.honey-info h1 {
    font-size: 35px;
    color: #ff8800;
}

.honey-text p {
    font-size: 25px;
    line-height: 45px;
    color: #003566
}

.honey-spoon {
    flex-basis: 35%;
}

.honey-spoon img {
    width: 300px;
}

.slider-wrapper {
    margin: auto;
    padding: 50px;
}

.bee-garden {
    background-color: #FFDD00;
    padding-left: 35px;
    padding-right: 35px;
}

.bee-garden-item .height-photo {
    width: 550px;
    height: 650px;
}

.honey-features {
    background-color: white;
    padding: 35px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}

.honey-features h3 {
    text-align: center;
    font-size: 35px;
    color: #ff8800;
}

.pad35 {
    padding: 0 35px;
}

.features-item p {
    font-size: 18px;
    color: #003566;
    line-height: 30px;
    text-align: center;
    padding-top: 15px;
}

.features-item img {
    width: 150px;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33% 0 0;
}

.honey-price {
    background-color: #FFDD00;
    padding-left: 25px;
    padding-bottom: 25px;
}

.honey-price h3 {
    font-size: 35px;
    color: #cc3333;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.strong-text {
    font-weight: 800;
}

.honey-price p {
    font-style: italic;
    font-size: 25px;
    color: #da3030;
}

.price-list {
    padding: 25px 0 25px 45px;
}

.price-list ul li {
    color: #af0000;
    font-size: 30px;
}

.footer {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-menu p {
    color: white;
    font-size: 25px;
    padding-bottom: 5px;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    font-size: 20px;
    line-height: 40px;
}

.footer-list a {
    text-decoration: none;
    color: white;
}

.footer-contact p {
    color: white;
    font-size: 25px;
    padding-bottom: 5px;
}

.contact-list {
    list-style: none;
}

.contact-list li {
    font-size: 20px;
    color: white;
    line-height: 40px;
}

.contact-list a {
    color: white;
}

.phone {
    text-decoration: underline;
    font-weight: 300;
    font-style: italic;
}

.map {
    width: 300px;
    height: 250px;
}

.burger {
    display: none;
}

.burger span {
    margin: 5px;
    display: block;
    border: 1px solid white;
    background-color: #fff;
    width: 50px;
    height: 5px;
}

@media screen and (max-width: 1025px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .bee-garden-item .height-photo {
        width: 500px;
        height: 600px;
    }
}

@media screen and (max-width: 875px) {
    .bee-garden-item .height-photo {
        width: 450px;
        height: 550px;
    }
    .pad35 {
        padding: 15px;
    }
    .honey-text p {
        line-height: 35px;
    }
    .honey-info {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 700px) {
    .bee-garden-item .height-photo {
        width: 450px;
        height: 550px;
    }
    .bee-garden-item .wide-photo {
        width: 515px;
        height: 450px;
    }
    .honey-spoon img {
        margin-right: -100px;
    }
    .features-item p {
        font-size: 15px;
        line-height: 20px;
    }
    .footer-menu {
        width: 50%;
    }
    .footer-contact {
        width: 50%;
    }
    .honey-spoon {
        display: none;
    }
    .honey-content {
        flex-basis: 100%;
    }
    .footer {
        text-align: center;
    }
    .map {
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .bee-garden-item .height-photo {
        width: 400px;
        height: 500px;
    }
    .bee-garden-item .wide-photo {
        width: 420px;
        height: 278px;
    }
    .about-honey {
        padding: 25px;
    }
    .features {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 510px) {
    .map {
        width: 450px;
        height: 300px;
    }
    .bee-garden-item .height-photo {
        width: 350px;
        height: 450px;
    }
    .bee-garden-item .wide-photo {
        width: 390px;
        height: 262px;
    }
    .honey-info h1 {
        font-size: 30px;
    }
    .honey-text p {
        font-size: 20px;
    }
    .honey-content {
        padding-left: 30px;
    }
    .slider-wrapper {
        margin: auto;
        padding: 25px;
    }
}

@media screen and (max-width: 475px) {
    .honey-price h3 {
        font-size: 30px;
    }
    .price-list ul li {
        font-size: 25px;
    }
    .honey-price p {
        font-size: 23px;
    }
    .footer-menu p {
        font-size: 20px;
    }
    .footer-list li {
        font-size: 20px;
        line-height: 35px;
    }
    .footer-contact p {
        font-size: 20px;
    }
    .map {
        width: 400px;
        height: 250px;
    }
    .slider-wrapper {
        padding: 25px;
    }
    .bee-garden-item .height-photo {
        width: 300px;
        height: 400px;
    }
    .bee-garden-item .wide-photo {
        width: 352px;
        height: 249px;
    }
}

@media screen and (max-width: 430px) {
    .bee-garden-item .height-photo {
        width: 250px;
        height: 350px;
    }
    .bee-garden-item .wide-photo {
        width: 305px;
        height: 245px;
    }
    nav {
        display: none;
        background-color: orange;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
    }
    .nav-list {
        display: block;
        line-height: 70px;
        text-align: center;
        padding-top: 100px;
    }
    .burger {
        z-index: 11;
        position: relative;
        display: block;
        margin-left: auto;
        background-color: transparent;
        border: none;
        padding-right: 10px;
    }
    nav.active {
        display: block;
    }
    body.lock {
        overflow: hidden;
    }
    .honey-price p {
        font-size: 21px;
    }
    .map {
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 430px) {
    .bee-garden-item .height-photo {
        width: 200px;
        height: 300px;
    }
    .bee-garden-item .wide-photo {
        width: 254px;
        height: 242px;
    }
}